# 13.함수적용

In [3]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [11]:
df['학교'] = df['학교'] + '등학교' #간단한 것은 가능
df

       이름      학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197cm   90   85  100  95  85      Python
2번    정대만  북산고등학교  184cm   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187cm   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202cm   80  100   95  85  80           C
7번    황태산  능남고등학교  188cm   55   65   45  40  35      Python
8번    윤대협  능남고등학교  190cm  100   85   90  95  95          C#

In [5]:
# 키열에 cm붙이기
df['키']=df['키']+'cm'
df #에러남 ->int와 str은 더할수 없어서

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U2')) -> None

## 데이터에 함수 적용(apply함수)
[여러데이터의리스트].apply(fun)하면 리스트 안의 요소들 하나하나 뽑아내 함수 적용시키고 반환

In [7]:
#df['키']=str(df['키'])+'cm'->이것도 불가
#각각의 데이터에 함수 적용시키는 apply필요
def add_cm(height):
    return str(height)+'cm'

df['키']=df['키'].apply(add_cm)
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [9]:
#SW특기의 첫 문자는 대문자, 나머지는 소문자로 변경하기
def cap(lang):
    if pd.notnull(lang): #NaN이면 False, NaN이 아니면 True반환
        return lang.capitalize() #첫글자는 대문자로, 나머지는 소문자로로 만드는 함수
    return lang  #NaN은 그대로

df['SW특기']=df['SW특기'].apply(cap)
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      Python
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [10]:
#이미 있는 함수 사용 가능
df['SW특기'].str.capitalize()

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        Python
8번            C#
Name: SW특기, dtype: object